*{
    margin: 0;
    padding: 0;
    
}
body{

   background-image:url('img/descarga.jpg');
   background-size: 70% auto ;
   background-repeat: no-repeat;
   background-color: black;
   color: white;
   
}
.contenedor{
    width: 700px ;
}



